@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-size: max(1200px,100vw);
    background-position: center center;
    background-repeat: no-repeat;
    height: 69vh;
    position: relative;
}
.main .box{
    height: 69vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 59vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
}
nav img{
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;

}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    flex-direction: column;
    color: white;
    gap: 20px;
    padding: 0px 30px;
}
.hero  >:nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero  >:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero  >:nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.seperation{
    background-color: grey;
    height: 5px;
}
.btn{
    padding: 4px 8px;
    font-weight: 400;
    background-color: rgba(124, 112, 112, 0.082);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 0.2px solid white;
}
 .btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.btn-red{
    color: white;
    background-color: red;
    border-radius: 4px;
    font-size: 20px;
    padding: 2px 24px;
}
.main input{ 
    padding: 6px 101px 8px 14px;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    padding: 9px 45px;
    background-color: rgb(22,22,22,0.2);
    border: 1px solid rgb(244, 249, 249,0.4);
}
.first{
    display: flex;
    color: white;
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 11px;
}
@media screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
.Img {
    position: relative;
}

.Img img{
    width: 269px;
    position: relative;
    z-index: 10;
}
.Img video{
    position: absolute;
    top: 42px;
    right: 19px;
    width: 80%;
}
.Image video{
    position: absolute;
    top: 15px;
    right: 52px;
    width: 62%;
}


.first1  {
    display: flex;
    flex-direction: column;
    padding: 34px 0 ;
}
.first1 > :nth-child(1){
    font-size: 54px;
    font-weight: bolder;

}
.first1 > :nth-child(2){
    font-size: 24px;

}
.faq{
    background: black;
    color: white;
}
.faq h2 {
    text-align: center;
    padding: 48px;
}
.faqbox:hover{
    background-color: rgb(35, 51, 53);
    color: white;
}
.faqbox{
    color: white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 24px;
    margin: 24px auto;
    max-width: 45vw;
    cursor: pointer;
    font-size: 24px;
}
footer{
    color: white;
    margin: auto;
    padding: 14px;
    max-width: 62vw;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer a{
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
@media screen and (max-width:1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .hero  >:nth-child(1){
        font-size: 32px;
    } 
    .hero  >:nth-child(2){
        font-size: 18px;
    }
    .hero  >:nth-child(3){
        font-size: 18px;
    }
    
   .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    nav{
        max-width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 62px;
    }
}
